<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
        #chenggong, #shibai {
            display: none;
        }
        .liuyankuai{
            padding:10px 0;
            border-bottom: 1px solid #ccc;

        }
    </style>
</head>
<body>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"> 姓名：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="请输入姓名">

                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"> 留言：</label>
                <div class="col-sm-10">
                   <textarea class="form-control" rows="3" id="text" placeholder="请输入留言"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
    <div id="allLiuyan">

    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="text/template" id="templ" >
        <div class="liuyankuai">
            <p> 姓名：{{=name }}</p>
            <p> 留言：{{=text }}</p>
            <p> 时间：{{=time }}></p>
        </div>
    </script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-noflect.js"></script><script type="text/javascript">

    $.get("/readText",function (result) {

        //留言块模版
        var compiled = _.template($("#templ").html());
        //清空原留言
        $("#allLiuyan").html("");
        for(var i=0;i<result.result.length;i++){
            var html = compiled({
                name:result.result[i].name,
                text:result.result[i].text,
                time:result.result[i].time
            });

            //DOM操作，添加节点
            $("#allLiuyan").append($(html));
        }

    });



    //提交
    $("#submit").click(function () {
        $.post("/insertLiuyan",{
            "name":$("#name").val(),
            "text":$("#text").val()
        },function (data,status) {
            console.log(data+","+status);

            alert(data);
        });
    });

</script>
</body>

</html>