<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>

        <div>
            <img src="./showimg"/>
        </div>

        <form action="./login" method="post">
            <h1 align="center">登录界面</h1><br/>
            收到参数:email-{email}<br/>
                     密码-{pwd}<br/>
            <table align="center">
                <tr>
                    <td>email:</td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="pwd"/></td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" value="登录"/>
                    </td>
                </tr>

            </table>
        </form>
    </body>
</html>